@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato&family=Rubik:ital@1&family=Sometype+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: calc(100%-120px);
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.active {
  font-weight: 800;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: Poppins;
  height: 6666px;
  background-color: #eee;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  box-shadow: 0px 1.64744px 8.2372px 0px rgba(0, 0, 0, 0.10);
  padding: 20px 0;

}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo img {
  width: 33px;
}

header .logo a {
  color: #545BE8;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

header nav ul li a {
  color: #101928;
}

header auth {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

header .auth a {
  padding: 5.354px 30px;
  border-radius: 15px;
  font-family: Inter;
}

header .auth .login {
  color: #545BE8;
  border: 2px solid #545BE8;
}


header .auth .register {
  background-color: #545BE8;
  color: #fff;
}